In [1]:
from config import remote_db_endpoint, remote_db_port, remote_db_user, remote_db_pwd, remote_db_name

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
cloud_engine = create_engine(f"postgresql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")

In [8]:
cloud_conn = cloud_engine.connect()
conflict = pd.read_sql("SELECT country_name, year, conflict_events FROM ultimate;", cloud_conn)

In [9]:
conflict.head()

  country_name  year  conflict_events
0      Algeria  1998             48.0
1      Algeria  1999             66.0
2      Algeria  2000            170.0
3      Algeria  2001            250.0
4      Algeria  2002            268.0

In [10]:
conflict.to_csv('Conflict.csv')