In [1]:
#from config import local_db_user, local_db_pwd, local_db_endpoint, local_db_port, local_db_name
from config import remote_db_endpoint, remote_db_port, remote_db_user, remote_db_pwd, remote_db_name

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
cloud_engine = create_engine(f"postgresql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")

In [4]:
cloud_conn = cloud_engine.connect()
africa_aws = pd.read_sql("SELECT * FROM africa_indicators", cloud_conn)

In [5]:
africa_aws

,Country Name,Country Code,Series Name,Series Code,Units,Year,Value
0,Algeria,DZA,"Birth rate, crude (per 1,000 people)",1,"per 1,000 people",1995,1614855.0
1,Algeria,DZA,"Birth rate, crude (per 1,000 people)",1,"per 1,000 people",1996,1655166.0
2,Algeria,DZA,"Birth rate, crude (per 1,000 people)",1,"per 1,000 people",1997,1784168.0
3,Algeria,DZA,"Birth rate, crude (per 1,000 people)",1,"per 1,000 people",1998,1937101.0
4,Algeria,DZA,"Birth rate, crude (per 1,000 people)",1,"per 1,000 people",1999,2051969.0
...,...,...,...,...,...,...,...
46445,Zimbabwe,ZWE,"School enrollment, primary, male (% gross)",39.MA,% gross,2001,4.0
46446,Zimbabwe,ZWE,"School enrollment, primary, male (% gross)",39.MA,% gross,2002,0.0
46447,Zimbabwe,ZWE,"School enrollment, primary, male (% gross)",39.MA,% gross,2003,0.0
46448,Zimbabwe,ZWE,"School enrollment, primary, male (% gross)",39.MA,% gross,2012,0.0
46449,Zimbabwe,ZWE,"School enrollment, primary, male (% gross)",39.MA,% gross,2013,0.0

In [6]:
import json
import urllib.request
with urllib.request.urlopen('https://raw.githubusercontent.com/codeforamerica/click_that_hood/master/public/data/africa.geojson') as response:
   geojson = json.load(response)

In [7]:
geojson['features'][0]

{'type': 'Feature',
 'properties': {'name': 'Algeria',
  'cartodb_id': 1,
  'created_at': '2013-11-12T16:15:59+0100',
  'updated_at': '2013-11-12T16:15:59+0100'},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[8.621624, 36.941797],
     [8.637895, 36.830611],
     [8.448066, 36.657053],
     [8.365355, 36.459088],
     [8.260948, 35.857058],
     [8.349083, 35.584517],
     [8.301626, 35.393331],
     [8.400609, 35.192655],
     [8.326033, 35.104519],
     [8.251457, 34.644861],
     [7.869086, 34.436049],
     [7.786375, 34.254355],
     [7.530105, 34.106559],
     [7.492139, 33.886899],
     [7.725358, 33.419105],
     [7.76468, 33.208937],
     [8.090102, 33.114022],
     [8.305694, 32.834702],
     [8.349083, 32.533686],
     [9.05552, 32.099791],
     [9.536873, 30.234038],
     [9.303654, 30.122853],
     [9.566704, 29.806922],
     [9.757889, 29.454382],
     [9.871787, 28.80625],
     [9.790431, 28.27066],
     [9.954498, 27.86795],
     [9.734838, 27.324224],
     [9.848736, 26.907955],
     [9.930091, 26.859142],
     [9.871787, 26.514737],
     [9.498907, 26.35745],
     [9.398569, 26.152705],
     [10.03721, 25.321524],
     [10.054837, 24.837459],
     [10.218903, 24.750679],
     [10.422292, 24.478139],
     [10.715172, 24.56763],
     [11.558557, 24.301868],
     [11.987029, 23.522212],
     [9.742974, 22.225948],
     [7.451461, 20.852396],
     [5.812149, 19.446302],
     [4.2447, 19.146643],
     [3.332162, 18.975797],
     [3.113859, 19.156135],
     [3.26979, 19.369015],
     [3.229112, 19.823249],
     [2.902334, 19.966977],
     [2.422337, 20.052401],
     [2.194542, 20.284264],
     [1.900306, 20.259857],
     [1.668443, 20.409009],
     [1.663019, 20.536466],
     [1.178954, 20.733075],
     [1.169463, 21.101886],
     [-0.00748, 21.830018],
     [-1.142389, 22.612386],
     [-2.825091, 23.735092],
     [-4.806097, 25.000169],
     [-5.821684, 25.625251],
     [-7.203372, 26.448297],
     [-8.666414, 27.290326],
     [-8.666414, 27.667273],
     [-8.66777, 28.709979],
     [-7.644047, 29.38523],
     [-7.433879, 29.397433],
     [-7.123372, 29.637432],
     [-6.579646, 29.568279],
     [-6.400664, 29.80421],
     [-5.559991, 29.895057],
     [-5.151858, 30.179801],
     [-4.919995, 30.507935],
     [-4.430506, 30.636748],
     [-4.016949, 30.910645],
     [-3.718645, 30.937763],
     [-3.602036, 31.09505],
     [-3.825763, 31.164203],
     [-3.825763, 31.687589],
     [-3.526104, 31.67403],
     [-2.972887, 31.8503],
     [-2.853565, 32.088943],
     [-2.263738, 32.155383],
     [-1.212897, 32.090299],
     [-1.249507, 32.327586],
     [-1.010864, 32.507924],
     [-1.382387, 32.724872],
     [-1.542386, 32.939108],
     [-1.480014, 33.062497],
     [-1.668487, 33.260462],
     [-1.600691, 33.509952],
     [-1.73086, 33.705205],
     [-1.654928, 34.083508],
     [-1.751199, 34.349269],
     [-1.686114, 34.484862],
     [-1.852893, 34.600115],
     [-1.749843, 34.741132],
     [-2.179671, 35.012317],
     [-2.209501, 35.085536],
     [-1.781029, 35.116723],
     [-1.258998, 35.406891],
     [-1.035271, 35.67672],
     [-0.791204, 35.764855],
     [-0.617646, 35.718753],
     [-0.380359, 35.901803],
     [-0.111886, 35.782482],
     [0.204044, 36.103836],
     [0.949803, 36.449597],
     [1.183022, 36.511969],
     [2.625726, 36.602816],
     [2.894199, 36.792646],
     [3.473179, 36.766883],
     [3.892159, 36.917391],
     [4.785714, 36.89434],
     [5.101644, 36.775019],
     [5.244016, 36.646206],
     [5.424354, 36.652985],
     [5.710454, 36.823832],
     [6.233841, 36.913323],
     [6.464348, 37.090949],
     [6.593161, 36.972984],
     [6.913159, 36.884848],
     [7.170785, 36.920102],
     [7.22909, 37.086881],
     [7.76468, 36.966204],
     [7.94773, 36.845527],
     [8.229762, 36.955356],
     [8.621624, 36.941797]]]]}}

In [8]:
africa_aws['Series Name '].unique()

array(['Birth rate, crude (per 1,000 people)',
       'Enrolment in total primary, Total',
       'CO2 emissions (metric tons per capita)',
       'Death rate, crude (per 1,000 people)',
       'Enrolment in total secondary, Total',
       'Enrolment in total tertiary. Public and private. Full and part time. Total',
       'Fixed Lines & Mobile Phone Subscribers',
       'Fixed Internet broadband Subscriptions per 100 inhabitants',
       'GDP (current US$)', 'GDP per capita,(current US$)',
       'GNI (current US$)', 'GNI per capita, Atlas method (current US$)',
       'Internet users', 'Health expenditure per capita (current US$)',
       'Health expenditure, total (% of GDP)',
       'Internet users per 100 inhabitants',
       'Labour force participation (as % of total)',
       'Oil exports, Value (Cur. USD)',
       'Life expectancy at birth, total (years)',
       'Main telephone lines per 1000 inhabitants',
       'Mobile cellular subscribers  per 100 inhabitants',
       'Mortality rate, infant (per 1,000 live births)',
       'Population Density (people per sq. km)', 'Population, Total',
       'Population, female (% of total)', 'Population, male (% of total)',
       'Population, female, Growth (annual, %)',
       'Population growth (annual %)',
       'Population, male, Growth (annual, %)', 'Population, total',
       'Population, female', 'Population, male',
       'Primary School, apparent intake rate, Gross(%)',
       'Primary to secondary Transition Rate',
       'Primary education, teachers (% female)',
       'Primary school teachers, Total',
       'Primary school teachers, Female',
       'Public Expenditure on Health (as % of GDP)',
       'School enrollment, primary (% gross)',
       "Total Employment, Population ('000)",
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary, male (% gross)'], dtype=object)

In [9]:
africa_aws['Country Name '].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic',
       'Chad', 'Comoros', 'Democratic Republic of Congo',
       'Republic of Congo', 'Ivory Coast', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Southern Africa',
       'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Tunisia', 'Uganda',
       'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
names_to_change = ['Congo', 'DR Congo']
new_name = ['Republic of Congo', 'Democratic Republic of Congo']

In [11]:
for i in range(len(geojson['features'])):
    

    for j in range(len(names_to_change)):
        if names_to_change[j] == geojson['features'][i]['properties']['name']:
            geojson['features'][i]['properties']['name'] = new_name[j]

In [12]:
geojson['features'][53]['properties']

{'name': 'Democratic Republic of Congo',
 'cartodb_id': 59,
 'created_at': '2013-11-12T16:15:59+0100',
 'updated_at': '2013-11-12T16:15:59+0100'}

In [13]:
africa_GDP_2019 = africa_aws.loc[africa_aws['Year'] == 2019]
africa_GDP_2019 = africa_GDP_2019.loc[africa_GDP_2019['Series Name ']== "GDP per capita,(current US$)"]
africa_GDP_2019.head()

,Country Name,Country Code,Series Name,Series Code,Units,Year,Value
9156,Algeria,DZA,"GDP per capita,(current US$)",10,current US$,2019,8.304981e+00
9181,Angola,AGO,"GDP per capita,(current US$)",10,current US$,2019,4.800000e+00
9206,Benin,BEN,"GDP per capita,(current US$)",10,current US$,2019,7.506613e+08
9231,Botswana,BWA,"GDP per capita,(current US$)",10,current US$,2019,-1.113545e+00
9256,Burkina Faso,BFA,"GDP per capita,(current US$)",10,current US$,2019,8.591420e+01

In [23]:
for i in range(len(geojson['features'])):
    

    #for j in range(len(africa_GDP_2019['Value'])):
    for index, row in africa_GDP_2019.iterrows():
        if row['Country Name '] == geojson['features'][i]['properties']['name']:
            geojson['features'][i]['properties']['GDP_per_capita_2019'] = row['Value']

In [25]:
geojson['features'][4]['properties']

{'name': 'Burkina Faso',
 'cartodb_id': 5,
 'created_at': '2013-11-12T16:15:59+0100',
 'updated_at': '2013-11-12T16:15:59+0100',
 'GDP_per_capita_2019': 85.91419923}

In [26]:
with open('AfricaGeoJson.json', 'w') as json_file:
    json.dump(geojson, json_file)