In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import json
import pandas as pd

from config import local_db_user, local_db_pwd, local_db_endpoint, local_db_port, local_db_name
from config import remote_db_endpoint, remote_db_port, remote_db_user, remote_db_pwd, remote_db_name

In [2]:
local_engine = create_engine(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}")
local_conn = local_engine.connect()

In [3]:
cloud_engine = create_engine(f"postgresql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")

In [4]:
cloud_conn = cloud_engine.connect()

In [5]:
ultimate = 'Data/Ultimate.csv'
ultimate_df = pd.read_csv(ultimate)
ultimate_df

,country_name,country_code,year,conflict_code_freq,conflict_deaths_code,population_density,population_growth_annual_per,total_population,refugee_pop_origin,rural_population,...,gdp_growth_per,gdp_percap_per,mortality_rate,gdp_total,gdp_percap,gni_total,fdi_inflows_gdp,fdi_inflows_total,conflict_fatalities,conflict_events
0,Zimbabwe,ZWE,2009,4,4.0,32.38,1.18,12526968.0,22449,8345717.0,...,10.70,116.77,56.1,9.665793e+09,771.60,8.400638e+09,1.09,105000000,196,12
1,Zimbabwe,ZWE,2005,4,4.0,31.22,0.47,12076699.0,11251,7957337.0,...,-6.15,-1.33,57.7,5.755215e+09,476.56,5.480617e+09,1.79,102800000,271,6
2,Liberia,LBR,2001,1,1.0,30.67,3.64,2953927.0,244608,1634319.0,...,2.92,-0.75,118.0,9.060000e+08,306.71,7.495003e+08,0.30,8300000,55,175
3,Liberia,LBR,2000,1,1.0,29.57,5.36,2848456.0,266930,1585707.0,...,2.67,-0.04,126.0,8.740000e+08,300.43,7.726000e+08,0.30,20800000,43,87
4,Democratic Republic of Congo,COD,1998,5,5.0,19.78,2.31,44849967.0,158833,29511727.0,...,-1.62,-3.87,111.0,6.215591e+09,138.59,5.824731e+09,0.99,61330000,3412,311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,Mauritius,MUS,2004,1,1.0,601.48,0.63,1221003.0,19,705459.0,...,4.33,3.68,13.7,6.578844e+09,5388.07,6.564662e+09,0.21,13894736,0,0
1088,Mauritius,MUS,2005,1,1.0,605.05,0.59,1228254.0,27,711012.0,...,1.78,1.18,13.8,6.488750e+09,5282.91,6.480648e+09,0.64,41776996,0,0
1089,Mauritius,MUS,1998,1,1.0,571.64,1.05,1160421.0,15,662415.0,...,6.07,4.96,19.0,4.169664e+09,3593.23,4.143115e+09,0.29,12170394,0,0
1090,Mauritius,MUS,2003,1,1.0,597.72,0.72,1213370.0,61,699690.0,...,5.93,5.16,13.8,5.816554e+09,4793.72,5.786699e+09,1.08,62630665,0,0
1091,Ghana,GHA,2001,1,0.0,86.83,2.45,19756928.0,14556,10945141.0,...,4.00,1.48,62.1,5.314910e+09,269.01,5.206828e+09,1.68,89320000,144,8

In [ ]:
modeling = 'Data/modeling.csv'

modeling_df = pd.read_csv(modeling)

In [ ]:
#Good
ethnicity = 'Data/ethnic_data.csv'
ethnicity_df = pd.read_csv(ethnicity)
# ethnicity_df

In [ ]:
#PENDING
africa = 'Data/indicators_africa.csv'
africa_indicators = pd.read_csv(africa)
africa_indicators

In [ ]:
#Good
econ = 'Data/Econ_GDP_Data.csv'
econ_df = pd.read_csv(econ)
econ_df = econ_df.drop([econ_df.index[489], econ_df.index[488], econ_df.index[487], econ_df.index[486]])
# econ_df

In [ ]:
#Good
conflict = 'Data/conflict_events.csv'
conflict_df = pd.read_csv(conflict)
# conflict_df.head()

In [ ]:
#Good
education = 'Data/Education_Data_CUT.csv'
education_df = pd.read_csv(education)
education_df = education_df.drop([education_df.index[108], education_df.index[109], education_df.index[110], education_df.index[111]])
# education_df

In [ ]:
#Good
government = 'Data/governance_indicators.csv'
government_df = pd.read_csv(government)
government_df

In [ ]:
#Good
population = 'Data/population_indicators.csv'
population_df = pd.read_csv(population)
# population_df.head()

In [ ]:
#Good
fatalities = 'Data/conflict_fatalities.csv'
fatalities_df = pd.read_csv(fatalities)
fatalities_df.head()

In [6]:
try:
    local_conn.execution_options(isolation_level="AUTOCOMMIT").execute(f"CREATE DATABASE {local_db_name}")
except Exception as e:
    print(e)
try:
    local_engine = create_engine(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}/{local_db_name}")
    local_conn = local_engine.connect()
except Exception as e:
    print(e)
local_engine.table_names()

(psycopg2.errors.DuplicateDatabase) database "conflict_africa" already exists

[SQL: CREATE DATABASE Conflict_Africa]
(Background on this error at: http://sqlalche.me/e/f405)

['ultimate',
 'africa_indicators',
 'economy',
 'conflict',
 'education',
 'population',
 'government',
 'fatalities']

In [7]:
# africa_indicators.to_sql(name='africa_indicators', con = local_engine, if_exists='replace', index=False)
# econ_df.to_sql(name='economy', con = local_engine, if_exists='replace', index=False)
# conflict_df.to_sql(name='conflict', con = local_engine, if_exists='replace', index=False)
# education_df.to_sql(name='education', con = local_engine, if_exists='replace', index=False)
# population_df.to_sql(name='population', con = local_engine, if_exists='replace', index=False)
# government_df.to_sql(name='government', con = local_engine, if_exists='replace', index=False)
# fatalities_df.to_sql(name = 'fatalities', con = local_engine, if_exists = 'replace', index=False)
# ethnicity_df.to_sql(name = 'ethnicity', con = local_engine, if_exists = 'replace', chunksize = 500, index=False)

ultimate_df.to_sql(name = 'ultimate', con = local_engine, if_exists = 'replace', chunksize = 500, index=False)
# modeling_df.to_sql(name = 'modeling', con = local_engine, if_exists = 'replace', chunksize = 500, index=False)

In [8]:
# africa_indicators.to_sql(name='africa_indicators', con = cloud_conn, if_exists='replace', chunksize = 500, index=False)
# econ_df.to_sql(name='economy', con = cloud_conn, if_exists='replace', chunksize = 500, index=False)
# conflict_df.to_sql(name='conflict', con = cloud_conn, if_exists='replace', chunksize = 500, index=False)
# education_df.to_sql(name='education', con = cloud_conn, if_exists='replace', chunksize = 500, index=False)
# population_df.to_sql(name='population', con = cloud_conn, if_exists='replace', chunksize = 500, index=False)
# government_df.to_sql(name='government', con = cloud_conn, if_exists='replace', chunksize = 500, index=False)
# fatalities_df.to_sql(name = 'fatalities', con = cloud_conn, if_exists = 'replace', chunksize = 500, index=False)
# ethnicity_df.to_sql(name = 'ethnicity', con = cloud_conn, if_exists = 'replace', chunksize = 500, index=False)

ultimate_df.to_sql(name = 'ultimate', con = cloud_conn, if_exists = 'replace', chunksize = 500, index=False)


# modeling_df.to_sql(name = 'modeling', con = cloud_conn, if_exists = 'replace', chunksize = 500, index=False)

In [9]:
#CHECK
aws_check = pd.read_sql("SELECT * FROM ultimate", cloud_conn)

In [10]:
aws_check

,country_name,country_code,year,conflict_code_freq,conflict_deaths_code,population_density,population_growth_annual_per,total_population,refugee_pop_origin,rural_population,...,gdp_growth_per,gdp_percap_per,mortality_rate,gdp_total,gdp_percap,gni_total,fdi_inflows_gdp,fdi_inflows_total,conflict_fatalities,conflict_events
0,Zimbabwe,ZWE,2009,4,4.0,32.38,1.18,12526968.0,22449,8345717.0,...,10.70,116.77,56.1,9.665793e+09,771.60,8.400638e+09,1.09,105000000,196,12
1,Zimbabwe,ZWE,2005,4,4.0,31.22,0.47,12076699.0,11251,7957337.0,...,-6.15,-1.33,57.7,5.755215e+09,476.56,5.480617e+09,1.79,102800000,271,6
2,Liberia,LBR,2001,1,1.0,30.67,3.64,2953927.0,244608,1634319.0,...,2.92,-0.75,118.0,9.060000e+08,306.71,7.495003e+08,0.30,8300000,55,175
3,Liberia,LBR,2000,1,1.0,29.57,5.36,2848456.0,266930,1585707.0,...,2.67,-0.04,126.0,8.740000e+08,300.43,7.726000e+08,0.30,20800000,43,87
4,Democratic Republic of Congo,COD,1998,5,5.0,19.78,2.31,44849967.0,158833,29511727.0,...,-1.62,-3.87,111.0,6.215591e+09,138.59,5.824731e+09,0.99,61330000,3412,311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,Mauritius,MUS,2004,1,1.0,601.48,0.63,1221003.0,19,705459.0,...,4.33,3.68,13.7,6.578844e+09,5388.07,6.564662e+09,0.21,13894736,0,0
1088,Mauritius,MUS,2005,1,1.0,605.05,0.59,1228254.0,27,711012.0,...,1.78,1.18,13.8,6.488750e+09,5282.91,6.480648e+09,0.64,41776996,0,0
1089,Mauritius,MUS,1998,1,1.0,571.64,1.05,1160421.0,15,662415.0,...,6.07,4.96,19.0,4.169664e+09,3593.23,4.143115e+09,0.29,12170394,0,0
1090,Mauritius,MUS,2003,1,1.0,597.72,0.72,1213370.0,61,699690.0,...,5.93,5.16,13.8,5.816554e+09,4793.72,5.786699e+09,1.08,62630665,0,0
1091,Ghana,GHA,2001,1,0.0,86.83,2.45,19756928.0,14556,10945141.0,...,4.00,1.48,62.1,5.314910e+09,269.01,5.206828e+09,1.68,89320000,144,8

In [ ]:
african_countries = aws_check['country_name'].unique()
african_countries

In [ ]:
ethnicity_df

In [ ]:
# countries_eth = {}
# for i in african_countries:
#     countries_eth[i] = pd.DataFrame(ethnicity_df.loc[ethnicity_df['Country Name '] == i])  
#     countries_eth.update(countries_eth[i])
    
# countries_eth["Togo"]

In [ ]:
countries_pop = {}
countries_fatal = {}
for i in african_countries:
    countries_pop[i] = pd.DataFrame(population_df.loc[population_df['Country Name'] == i])
    countries_pop[i] = countries_pop[i][(countries_pop[i]['Series Code'] == 1) | (countries_pop[i]['Series Code'] == 2) | (countries_pop[i]['Series Code'] == 3) | (countries_pop[i]['Series Code'] == 3) | (countries_pop[i]['Series Code'] == 5) | (countries_pop[i]['Series Code'] == 7) | (countries_pop[i]['Series Code'] == 16) | (countries_pop[i]['Series Code'] == 10)]
    countries_pop[i] = countries_pop[i][['1998', '2008', '2018']]
    countries_pop.update(countries_pop[i])
    countries_fatal[i] = pd.DataFrame(fatalities_df.loc[fatalities_df['Country Name']== i])
    countries_fatal[i] = countries_fatal[i][['1998', '2008', '2018']]
    countries_fatal.update(countries_fatal[i])
    

angola_pop = countries_pop['Angola']
angola_fatal = countries_fatal['Angola']

concat = [angola_pop, angola_fatal]
table = pd.concat(concat)
array = table.to_numpy()
table.transpose()

In [ ]:
# africa_indicators.to_sql(name='africa_indicators', con = local_engine, if_exists='replace', index=False)
# econ_df.to_sql(name='economy', con = local_engine, if_exists='replace', index=False)
# conflict_df.to_sql(name='conflict', con = local_engine, if_exists='replace', index=False)
education_df.to_sql(name='education', con = local_engine, if_exists='replace', index=False)
# population_df.to_sql(name='population', con = local_engine, if_exists='replace', index=False)
# government_df.to_sql(name='government', con = local_engine, if_exists='replace', index=False)
# fatalities_df.to_sql(name = 'fatalities', con = local_engine, if_exists = 'replace', index=False)
# ethnicity_df.to_sql(name = 'ethnicity', con = local_engine, if_exists = 'replace', chunksize = 500, index=False)

In [ ]:
array.transpose()

In [ ]:
africa_data = pd.read_sql("select population_density,population_growth_annual, population_largestcity, population_largestcity_urban, population_female, population_female_per, population_male, population_male_per, total_population, refugee_pop_asylum, refugee_pop_origin, rural_population, rural_population_per, rural_population_growth, urban_population, urban_population_per, urban_population_growth, corruption_control_estimate, corruption_control_percentile, government_effectiveness_est, government_effectiveness_percentile, stability_est, stability_percentile, regulatory_est, regulatory_percentile, ruleoflaw_est, ruleoflaw_percentile, accountability_est, ethnic_score, conflict_events, gdp_growth_per, gdp_percap_per, gni_growth_per, gni_percap_per, exports, imports from ultimate", cloud_conn)

In [ ]:
africa_data